@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .App {
    @apply min-h-screen flex flex-col;
  }
}

@layer utilities {
  /* WebKit-based browsers */
  *::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #646669;
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
  }

  *::-webkit-scrollbar-track {
    @apply bg-primary;
  }

  *::-webkit-scrollbar-corner {
    @apply bg-primary;
  }

  *::-webkit-scrollbar-thumb:active {
    @apply bg-light;
  }

  /* For more precise control in Firefox */
  *::-moz-scrollbar {
    width: 12px;
    height: 12px;
  }

  *::-moz-scrollbar-thumb {
    background-color: #646669;
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
  }

  *::-moz-scrollbar-thumb:hover {
    background-color: #323437;
  }

  *::-moz-scrollbar-track {
    background: #000000;
    border-radius: 10px;
  }

  *::-moz-scrollbar-corner {
    background: #E2B714;
  }

  *::-moz-scrollbar-thumb:active {
    background-color: #BF4652;
  }
}

